atril
autostart
Code
dconf
fontconfig
font-manager
gigolo
gtk-2.0
gtk-3.0
htop
libreoffice
menus
mimeapps.list
neofetch
nordvpn
plank
pulse
ristretto
Thunar
Trolltech.conf
update-notifier
user-dirs.dirs
user-dirs.locale
wal
xfce4
xfce4-session
xubuntu
